body {
    font-family: "Helvetica Neue", sans-serif;
    color: #333;
    padding: 20px;
  }

  p {
     page-break-inside: avoid;
  }

  table {
     width: 100%;
     text-align: left;
  }

  thead {
    display: table-header-group;
  }
  .left  {
     float: left;
     width: 55px;
     height: 55px;
     text-align: right;
     margin: 2px 5px;
     display: inline;
  }

  .right   {
     float: left;
     text-align: left;
     width: max-content;
     height: max-content;
     margin: 2px 5px;
     display: inline;
  }

  .cols {
  display: table;
  width: 100%;
  }

  .cols div {
  display: table-cell;
  }

  .col1 {
  width: 55px;
  background-color: orange;
  }

  .col2 {
  background-color: skyblue;
  }

