<head>
    <meta charset="utf-8">
    <link href="<%=APP_ROOT%>/public/css/bootstrap4.min.css" rel="stylesheet">
    <style type="text/css">
        body {
            font-family: "Helvetica Neue", sans-serif;
            font-size: small;
            color: #333;
            padding: 18px;
            text-align: justify
        }
        p {
            page-break-inside: avoid;
        }

        table {
            width: 100%;
            border: 1px solid #999;
            text-align: left !important;
            border-collapse: collapse;
            margin: 0 0 1em 0;
            caption-side: top;
        }
        caption, td, th {
            padding: 0.3em;
        }
        th, td {
            border-bottom: 1px solid #999;
            width: 25%;
        }
        caption {
        font-weight: bold;
        font-style: italic;
        }

        
        .tx-left{
            text-align: right;
        }

        .left {
            float: left;
            width: 130px;
            height: 55px;
            margin: 2px 5px;
            display: inline;
        }

        .right {
            float: left;
            text-align: left;
            width: max-content;
            height: max-content;
            margin: 2px 5px;
            padding: 10px;
            display: inline;
        }
        .numberPage{
          top:10px;
          bottom:auto;
          left: auto;
          right: 15px;
          position: fixed;
          z-index: 3;
        }
    </style>
</head>