<style>
    html, body {
        margin: 0;
        padding: 0;
        -webkit-print-color-adjust: exact;
    }

    .page {
        height: 100vh;
        page-break-after: always;
    }

    .page:last-of-type {
        page-break-after: auto
    }

    .page .header-wrapper {
        margin-top: 20px;
    }

    .page .header-wrapper > div {
        position: relative;
        width: 100%;
        text-align: center;
    }

    .page .header-wrapper > div .logo {
        width: 100%;
    }

    .page .page-body-wrapper {
        margin-top: 40px;
    }

    .page-body {
        font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
        font-size: 10px;
    }
</style>
<div class="page">
    <div class="header-wrapper">
        <div>
            <img class="logo" src="images/oppLogo.png"/>
        </div>
    </div>
    <div class="page-body-wrapper">
        <div class="page-body">
           <p></p>
        </div>
    </div>
</div>